<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">

<div layout:fragment="body">

	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4
			class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>T</span>ipple<span>T</span> clothes
		</h4>
	</div>
	<!-- Shop -->
	<div class="innerf-pages section">
		<div class="fh-container mx-auto">
			<div class="row my-lg-5 mb-5">
			
			    <!-- Choose left -->
				<div th:replace="views/web/layout/choose-left :: choose-left"></div>
				
				<!-- grid right -->
				<div class="col-lg-9 mt-lg-0 mt-5 right-product-grid">

					<!-- card group  -->
					<div class="card-group">
						<!-- row1-->
						<!-- card -->
						<div class="col-lg-3 col-sm-6 p-0">
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{/assets/web/images/pf9.jpg}" alt="img"
										class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/single}" class="link-product-add-cart">Quick
												View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2">
									<h5 class="card-title text-capitalize">Slim Women's Blue
										Jeans</h5>
									<div class="card-text d-flex justify-content-between">
										<p class="text-dark font-weight-bold">$19.99</p>
										<p class="line-through">$24.99</p>
									</div>
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart"> <input
											type="hidden" name="add" value="1"> <input
											type="hidden" name="hub_item"
											value="Men's Hooded Blue T-Shirt"> <input
											type="hidden" name="amount" value="19.99">
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
								</div>
							</div>
						</div>
						<!-- //card -->
						<!-- card -->
						<div class="col-lg-3 col-sm-6 p-0">
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{/assets/web/images/pf10.jpg}" alt="img"
										class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/single}" class="link-product-add-cart">Quick
												View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2">
									<h5 class="card-title text-capitalize">Slim Women's Black
										Jeans</h5>
									<div class="card-text d-flex justify-content-between">
										<p class="text-dark font-weight-bold">$24.99</p>
										<p class="line-through">$32.99</p>
									</div>
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart"> <input
											type="hidden" name="add" value="1"> <input
											type="hidden" name="hub_item"
											value="Slim Women's Black Jeans"> <input
											type="hidden" name="amount" value="24.99">
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
								</div>
							</div>
						</div>
						<!-- //card -->
						<!-- card -->
						<div class="col-lg-3 col-sm-6 p-0">
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{/assets/web/images/pf11.jpg}" alt="img"
										class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/single}" class="link-product-add-cart">Quick
												View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2">
									<h5 class="card-title text-capitalize">Slim Women's Blue
										Jeans</h5>
									<div class="card-text d-flex justify-content-between">
										<p class="text-dark font-weight-bold">$14.99</p>
										<p class="line-through">$18.99</p>
									</div>
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart"> <input
											type="hidden" name="add" value="1"> <input
											type="hidden" name="hub_item" value="Slim Women's Blue Jeans">
										<input type="hidden" name="amount" value="14.99">
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
								</div>
							</div>
						</div>
						<!-- //card -->
						<!-- card -->
						<div class="col-lg-3 col-sm-6 p-0">
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{/assets/web/images/pf12.jpg}" alt="img"
										class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/single}" class="link-product-add-cart">Quick
												View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2">
									<h5 class="card-title text-capitalize">Slim Women's Blue
										Jeans</h5>
									<div class="card-text d-flex justify-content-between">
										<p class="text-dark font-weight-bold">$16.99</p>
										<p class="line-through">$24.99</p>
									</div>
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart"> <input
											type="hidden" name="add" value="1"> <input
											type="hidden" name="hub_item"
											value="Slim Women's Black Jeans"> <input
											type="hidden" name="amount" value="16.99">
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
								</div>
							</div>
						</div>
						<!-- //card -->
						<!-- //row  -->
					</div>
	

				</div>
			</div>
		</div>
	</div>
	<!--// Shop -->
</div>