<!-- Topbar -->
<nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>
	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">

		<div class="topbar-divider d-none d-sm-block"></div>

		<!-- Nav Item - User Information -->

		<li th:if="${session.currentUser}!=null" class="nav-item dropdown no-arrow">
			<a  class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<span  th:text="${session.msg}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
				<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
			</a> <!-- Dropdown - User Information -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<a th:href="@{/}" class="dropdown-item">
					<i class="fab fa-shopify fa-sm fa-fw mr-2 text-gray-400"></i>
					Shopping
				</a>
				<a th:href="@{/logout}" class="dropdown-item">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					Logout
				</a>

			</div>
		</li>

		<li th:if="${session.currentUser}==null" class="nav-item dropdown no-arrow">
			<a  th:href="@{/login}" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
			</a> <!-- Dropdown - User Information -->
		</li>

	</ul>

</nav>
<!-- End of Topbar -->