<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">

<div layout:fragment="body">
	<div th:if="${msg != null}"
		th:class="alert alert-dismissible alert-danger fade show" role="alert"
		style="text-align: center;">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong><span th:text="${msg}"></span></strong> Sorry about that !!!
	</div>
	<!-- banner -->
	<div class="banner-text">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li class="banner">
					<div class="container">
						<div th:if="${loginsuccess!= null}"
							class="alert alert-success alert-dismissible alert-autocloseable-success"
							role="alert">
							<strong th:text="${loginsuccess}"></strong>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div th:if="${order_success!= null}"
							class="alert alert-success alert-dismissible alert-autocloseable-success"
							role="alert">
							<strong th:text="${order_success}"></strong>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div th:if="${messages_product_null!= null}"
							class="alert alert-danger alert-dismissible alert-autocloseable-danger"
							role="alert">
							<strong th:text="${messages_product_null}"></strong>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<h3 class="agile_btxt">
							<span>T</span>riple <span>T</span>clothes
						</h3>
						<h4 class="w3_bbot">shop exclusive clothing</h4>
						<div class="slider-info mt-sm-5">
							<h4 class="bn_right">
								<span>w</span>omen's <span>f</span>ashion
							</h4>
							<div class="bnr_clip position-relative">
								<h4>
									get up to <span class="px-2">45% </span>
								</h4>
								<div
									class="d-inline-flex flex-column banner-pos position-absolute text-center">
									<div class="bg-flex-item">
										<span>O</span>
									</div>
									<div class="bg-flex-item">
										<span>F</span>
									</div>
									<div class="bg-flex-item">
										<span>F </span>
									</div>
								</div>
								<p class="text-uppercase py-2">on special sale</p>
								<a class="btn btn-primary mt-3 text-capitalize"
									th:href="@{/shop}" role="button">Shop now</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- about -->
	<div class="row no-gutters pb-5">
		<div class="col-sm-6">
			<div class="hovereffect">
				<img class="img-fluid" th:src="@{/assets/web/images/a1.jpg}" alt="" style="width:100%">
				<div class="overlay">
					<h5>women's fashion</h5>
					<a class="info" th:href="@{/categories/2}">Shop Now</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="hovereffect">
				<img class="img-fluid" th:src="@{/assets/web/images/a2.jpg}" alt="" style="width:100%">
				<div class="overlay">
					<h5>men's fashion</h5>
					<a class="info" th:href="@{/categories/1}">Shop Now</a> 
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-4">
			<div class="hovereffect">
				<img class="img-fluid" th:src="@{/assets/web/images/a3.jpg}" alt="">
				<div class="overlay">
					<h5>kid's fashion</h5>
					<a class="info" th:href="@{/shop}">Shop Now</a>
				</div>
			</div>
		</div> -->
	</div>
	<!-- //about -->
	<!-- product tabs -->
	<section class="tabs_pro py-md-5 pt-sm-3 pb-5">
		<h5 class="head_agileinfo text-center text-capitalize pb-5">
			<span>Trending Product</span>
		</h5>
		<div class="tabs tabs-style-line pt-md-5">
			<nav class="container">
				<ul id="clothing-nav" class="nav nav-tabs tabs-style-line"
					role="tablist">
					<li class="nav-item"><a class="nav-link active" href="#women"
						id="women-tab" role="tab" data-toggle="tab" aria-controls="women"
						aria-expanded="true">Women's Fashion</a></li>
					<li class="nav-item"><a class="nav-link" href="#men"
						role="tab" id="men-tab" data-toggle="tab" aria-controls="men">Men's
							Fashion </a></li>
				</ul>
			</nav>
			<!-- Content Panel -->
			<div id="clothing-nav-content" class="tab-content py-sm-5">
				<div role="tabpanel" class="tab-pane fade show active" id="women"
					aria-labelledby="women-tab">
					<div id="owl-demo" class="owl-carousel text-center">
						<div class="item" th:each="product, iter : ${productsWomen}">
							<!-- card -->
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{'/assets/images/'+ ${product.images[0]}}"
										alt="img" class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/products/{id}(id=${product.id})}"
												class="link-product-add-cart">Quick View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2" style="text-align: inherit;">
									<h5 class="card-title text-capitalize"
										th:text="${product.name}" style="height: 60px;"></h5>
									<p>
										<span th:text="${product.priceString}"></span>
									</p>
									<div>
										<!--First Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg == 0}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 0 && product.rate_avg < 1}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 1}"></i>
										<!--Second Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 1}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 1 && product.rate_avg < 2}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 2}"></i>
										<!--Third Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 2}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 2 && product.rate_avg < 3}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 3}"></i>
										<!--Fourth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 3}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 3 && product.rate_avg < 4}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 4}"></i>
										<!--Sixth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 4}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 4 && product.rate_avg < 5}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg == 5}"></i>

									</div>
									<!-- <div class="card-text d-flex justify-content-between">
										khuyến mại
										<p class="text-dark font-weight-bold"></p>
										<p th:text="${product.price}"> ₫</p>
									</div> -->
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form
										th:action="@{/cart/add(productId=${product.id}, quantity=${quantity})}">
										<input th:name="productId" type="hidden"
											th:value="${product.id}" /> <input th:name="quantity"
											type="hidden" th:value="1" />
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>

									</form>
								</div>
							</div>
							<!-- //card -->
						</div>

						<div class="item">
							<div class="product-men p-3 text-center">
								<img th:src="@{/assets/web/images/p2.png}"
									class="img-responsive" alt="" /> <a href="women.html"
									class="btn btn-lg bg-info text-white">view more</a>
							</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="men"
					aria-labelledby="men-tab">
					<div id="owl-demo" class="owl-carousel text-center">
						<div class="item" th:each="product, iter : ${productsMen}">
							<!-- card -->
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{'/assets/images/'+ ${product.images[0]}}"
										alt="img" class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/products/{id}(id=${product.id})}"
												class="link-product-add-cart">Quick View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2">
									<h5 class="card-title text-capitalize"
										th:text="${product.name}" style="height: 60px;"></h5>
									<p>
										<span th:text="${product.priceString}"></span>
									</p>
									<div>
										<!--First Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg == 0}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 0 && product.rate_avg < 1}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 1}"></i>
										<!--Second Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 1}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 1 && product.rate_avg < 2}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 2}"></i>
										<!--Third Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 2}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 2 && product.rate_avg < 3}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 3}"></i>
										<!--Fourth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 3}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 3 && product.rate_avg < 4}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 4}"></i>
										<!--Sixth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 4}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 4 && product.rate_avg < 5}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg == 5}"></i>

									</div>
									<!-- <div class="card-text d-flex justify-content-between">
										khuyến mại
										<p class="text-dark font-weight-bold"></p>
										<p th:text="${product.price}"> ₫</p>
									</div> -->
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form
										th:action="@{/cart/add(productId=${product.id}, quantity=${quantity})}">
										<input th:name="productId" type="hidden"
											th:value="${product.id}" /> <input th:name="quantity"
											type="hidden" th:value="1" />
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>

									</form>
								</div>
							</div>
							<!-- //card -->
						</div>

						<div class="item">
							<div class="product-men p-3 text-center">
								<img th:src="@{/assets/web/images/p2.png}"
									class="img-responsive" alt="" /> <a href="women.html"
									class="btn btn-lg bg-info text-white">view more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //product tabs -->
	<section th:if="${recentlyViewedProducts} != null"
		class="tabs_pro py-md-5 pt-sm-3 pb-5">
		<div class="tabs tabs-style-line pt-md-1">
			<div id="clothing-nav-content" class="tab-content py-sm-1">
				<div role="tabpanel" class="tab-pane fade show active" id="women"
					aria-labelledby="women-tab">
					<h5 class="head_agileinfo text-center text-capitalize pb-5">
						<span>Recently Viewed Products</span>
					</h5>
					<div id="owl-demo" class="owl-carousel text-center card-group my-5">
						<div class="item"
							th:each="product, iter : ${recentlyViewedProducts}">
							<!-- card -->
							<div class="card product-men p-3">
								<div class="men-thumb-item">
									<img th:src="@{'/assets/images/'+ ${product.images[0]}}"
										alt="img" class="card-img-top">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/products/{id}(id=${product.id})}"
												class="link-product-add-cart">Quick View</a>
										</div>
									</div>
								</div>
								<!-- card body -->
								<div class="card-body  py-3 px-2" style="text-align: inherit;">
									<h5 class="card-title text-capitalize"
										th:text="${product.name}" style="height: 60px;"></h5>
									<p>
										<span th:text="${product.priceString}"></span>
									</p>
									<div>
										<!--First Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg == 0}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 0 && product.rate_avg < 1}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 1}"></i>
										<!--Second Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 1}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 1 && product.rate_avg < 2}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 2}"></i>
										<!--Third Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 2}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 2 && product.rate_avg < 3}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 3}"></i>
										<!--Fourth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 3}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 3 && product.rate_avg < 4}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg >= 4}"></i>
										<!--Sixth Star-->
										<i class="fa fa-star-o checkedStar"
											th:if="${product.rate_avg <= 4}"></i> <i
											class="fa fa-star-half-o checkedStar"
											th:if="${product.rate_avg > 4 && product.rate_avg < 5}"></i>
										<i class="fa fa-star checkedStar"
											th:if="${product.rate_avg == 5}"></i>

									</div>
									<!-- <div class="card-text d-flex justify-content-between">
											khuyến mại
											<p class="text-dark font-weight-bold"></p>
											<p th:text="${product.price}"> ₫</p>
										</div> -->
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form
										th:action="@{/cart/add(productId=${product.id}, quantity=${quantity})}">
										<input th:name="productId" type="hidden"
											th:value="${product.id}" /> <input th:name="quantity"
											type="hidden" th:value="1" />
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
									</form>
								</div>
							</div>
							<!-- //card -->
						</div>

						<div class="item">
							<div class="product-men p-3 text-center">
								<img th:src="@{/assets/web/images/p2.png}"
									class="img-responsive" alt="" /> <a href="women.html"
									class="btn btn-lg bg-info text-white">view more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

</html>