
<!-- grid left -->
<div th:fragment="choose-left" class="side-bar col-lg-3">
	<!--preference -->
	<div class="left-side" th:if="${categories != null}">
		<h3 class="shopf-sear-headits-sear-head">Categories</h3>
		<ul>
			<li th:each="category : ${categories}">
				<a th:href="@{/categories/{id}/products(id=${category.id})}">
					<label for="cat1" th:text="${category.name}"></label>
				</a>
			</li>
		</ul>
	</div>
	<!-- // preference -->
	<div class="search-hotel" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
		<h3 class="shopf-sear-headits-sear-head">
			<span>Product Name</span>
			<a th:if="${#request.getParameter('name') != null}"
				th:href="${urlBuilder.replaceQueryParam('name', '').toUriString()}"
				class="btn btn-danger" role="button"
				style="float: right; height: 20px; font-size: 13px; line-height: 5px;">Bỏ chọn tiêu chí này</a>
		</h3>
		<form action="" method="get"> 
			<input th:if="${#request.getParameter('rating') != null}" type="hidden" name="rating" th:value="${#request.getParameter('rating')}"> 
 			<input th:if="${#request.getParameter('fromprice') != null}" type="hidden" name="fromprice" th:value="${#request.getParameter('fromprice')}">
			<input th:if="${#request.getParameter('toprice') != null}" type="hidden" name="toprice" th:value="${#request.getParameter('toprice')}">
			<input th:if="${#request.getParameter('page') != null}" type="hidden" name="page" th:value="1"> 	 		
			<input type="search" placeholder="Tìm gì đó đi" name="name" th:value="${#request.getParameter('name') != null ? #request.getParameter('name'):''}"> 
			<input type="submit" value="Search">
		</form>
	</div>
	<!-- price range -->
	<div class="search-hotel" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
		<h3 class="shopf-sear-headits-sear-head">
			<span>Price</span> range
			<a th:if="${#request.getParameter('fromprice') != null} or ${#request.getParameter('toprice') != null}"
				th:href="${urlBuilder.replaceQueryParam('fromprice', '').replaceQueryParam('toprice', '').toUriString()}"
				class="btn btn-danger" role="button"
				style="float: right; height: 20px; font-size: 13px; line-height: 5px;">Bỏ chọn tiêu chí này</a>
		</h3>
		<form action="" method="get"> 
			<input th:if="${#request.getParameter('rating') != null}" type="hidden" name="rating" th:value="${#request.getParameter('rating')}"> 
			<input th:if="${#request.getParameter('name') != null}" type="hidden" name="name" th:value="${#request.getParameter('name')}"> 
			<input th:if="${#request.getParameter('page') != null}" type="hidden" name="page" th:value="1"> 						
			<p>From: </p>
			<input type="number" min="0" placeholder="Từ số tiền" name="fromprice" th:value="${#request.getParameter('fromprice') != null ? #request.getParameter('fromprice'):''}">
			<span>VNĐ</span> 
			<p>To: </p>
			<input type="number" min="0" placeholder="Đến số tiền" name="toprice" th:value="${#request.getParameter('toprice') != null ? #request.getParameter('toprice'):''}"> 
			<span>VNĐ</span> 
			<input type="submit" value="Search" style="margin-top:5px;">
		</form>

	</div>
	<!-- //discounts -->
	<!-- reviews -->
	<div class="customer-rev left-side" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
		<h3 class="shopf-sear-headits-sear-head">Customer Review<a
			th:if="${#request.getParameter('rating') != null}"
			th:href="${urlBuilder.replaceQueryParam('rating', '').toUriString()}" 
			class="btn btn-danger" role="button"
			style="float: right; height: 20px; font-size: 13px; line-height: 5px;">Bỏ chọn tiêu chí này</a>
		</h3>
		<ul>
			<li><a 	th:if="${#request.getParameter('page') == null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '5').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <span>5.0 sao ấu lỳ</span><span th:if="${#request.getParameter('rating') == #strings?.toString(5)}">&#10004;</span>
			</a></li>
			<li><a th:if="${#request.getParameter('page') != null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '5').replaceQueryParam('page', '1').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <span>5.0 sao ấu lỳ</span><span th:if="${#request.getParameter('rating') == #strings?.toString(5)}">&#10004;</span>
			</a></li>
			<li><a 	th:if="${#request.getParameter('page') == null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '4').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i> <span>4.0 sao trở lên</span><span th:if="${#request.getParameter('rating') == #strings?.toString(4)}">&#10004;</span>
			</a></li>
			<li><a 	th:if="${#request.getParameter('page') != null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '4').replaceQueryParam('page', '1').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i> <span>4.0 sao trở lên</span><span th:if="${#request.getParameter('rating') == #strings?.toString(4)}">&#10004;</span>
			</a></li>
			<li><a 	th:if="${#request.getParameter('page') == null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '3').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i> <span>3.0 sao trở lên</span><span th:if="${#request.getParameter('rating') == #strings?.toString(3)}">&#10004;</span>
			</a></li>
			<li><a 	th:if="${#request.getParameter('page') != null}"
					th:href="${#strings.replace(#uris.unescapeQueryParam(urlBuilder.replaceQueryParam('rating', '3').replaceQueryParam('page', '1').toUriString()).replace('%20','+'),' ','+')}"> <i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
					aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i><span>3.0 sao trở lên</span><span th:if="${#request.getParameter('rating') == #strings?.toString(3)}">&#10004;</span>
			</a></li>
		</ul>
	</div>
	<!-- //reviews -->
</div>
<!-- //grid left -->