<!-- header -->
<div th:fragment="header" class="container">
	<!-- top nav -->
	<nav class="top_nav d-flex pt-3 pb-1">
		<!-- logo -->
		<h1>
			<a class="navbar-brand" th:href="@{/}">3t </a>
		</h1>
		<!-- //logo -->
		<div class="w3ls_right_nav ml-auto d-flex">
			<!-- search form -->
			<form class="nav-search form-inline my-0 form-control" action="#"
				method="post">
				<input class="ml-3 my-sm-0"
					type="text" style="height: 100%;">
				<input class="btn btn-outline-secondary  ml-3 my-sm-0"
					type="submit" value="Search">
			</form>
			<!-- search form -->
			<div class="nav-icon d-flex">
				<!-- sigin and sign up -->
				<a th:if="${session.currentUser}==null"
					class="text-dark login_btn align-self-center mx-3"
					th:href="@{/login}"> <i class="far fa-user"></i>
				</a>
				<div th:if="${session.currentUser}!=null">
					<ul class="nav nav-tabs">
						<li class="nav-item dropdown ml-auto"><a href="#" class="nav-link dropdown-toggle"
								data-toggle="dropdown" th:text="${session.msg}"></a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" th:if="${session.roleUser}==1"
									th:href="@{/users/{id}(id=${session.currentUser})}">Profile</a>
								<a class="dropdown-item" th:if="${session.roleUser}==1"
									th:href="@{/users/{id}/orders(id=${session.currentUser})}">Orders</a>
								<a class="dropdown-item" th:if="${session.roleUser}==0"
									th:href="@{/dashboard}">Dashboard</a>
								<a class="dropdown-item" th:href="@{/logout}">Logout</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- sigin and sign up -->
				<!-- shopping cart -->
				<div class="cart-mainf">
					<div class="hubcart hubcart2 cart cart box_1">

						<a th:href="@{/cart}" class="btn top_hub_cart mt-1" type="submit" name="submit" value=""
							title="Cart"> <i class="fas fa-shopping-bag"></i> <span th:if="${session.cartSize!=null}"
								th:text="${'('+session.cartSize+')'}"></span> <span th:if="${session.cartSize==null}"
								th:text="(0)"></span>
						</a>

					</div>
				</div>
				<!-- //shopping cart ends here -->
			</div>
		</div>
	</nav>
	<!-- //top nav -->
	<!-- bottom nav -->
	<nav
		class="navbar navbar-expand-lg navbar-light justify-content-center"
		style="border-bottom: solid 0.5px; border-color: lightgray; margin-bottom: 2px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
			<ul class="navbar-nav mx-auto text-center" th:with="w=${1100/(4+#arrays.length(session.rootCategories))}">
				<li class="nav-item">
				<a class="nav-link"
					th:href="@{/}"
					th:style="'width:' + ${w} + 'px; border-right: solid 0.5px; border-color: lightgray;'">Home<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item dropdown has-mega-menu"
					style="position: static;"
					th:each="rootCategory : ${session.rootCategories}"
					th:href="@{/}" 
					><a class="nav-link dropdown-toggle"
					data-toggle="dropdown" th:href="@{/categories/{id}/products(id=${rootCategory.id})}" role="button" aria-haspopup="true"
					th:text="${rootCategory.name}"
					th:style="'width:' + ${w} + 'px; border-right: solid 0.5px; border-color: lightgray;'"></a>
					<div class="dropdown-menu" style="width: 100%">
						<div class="px-0 container">
							<div class="row">
								<div class="col-md-12" style="padding: 10px 0px;">
									<a class="dropdown-item" style="text-align: center"
										th:href="@{/categories/{id}/products(id=${rootCategory.id})}"><h3
											th:text="${rootCategory.name}"></h3></a>
								</div>
								<div th:class="'col-md-' + ${12/#arrays.length(rootCategory.subCategories)}"
									th:if="${rootCategory.subCategories} != null"  th:each="chillDepth1stCategory : ${rootCategory.subCategories}">
									<a class="dropdown-item bg-light" th:href="@{/categories/{id}/products(id=${chillDepth1stCategory.id})}"
										th:text="${chillDepth1stCategory.name}"></a>
									<div th:if="${chillDepth1stCategory.subCategories} != null"
										th:each="chillDepth2ndCategory : ${chillDepth1stCategory.subCategories}">
										<a class="dropdown-item" th:href="@{/categories/{id}/products(id=${chillDepth2ndCategory.id})}"
											th:text="'&nbsp;&nbsp;&nbsp;&nbsp' + ${chillDepth2ndCategory.name}"></a>
										<div th:if="${chillDepth2ndCategory.subCategories} != null"
											th:each="chillDepth3rdCategory : ${chillDepth2ndCategory.subCategories}">
											<a class="dropdown-item" th:href="@{/categories/{id}/products(id=${chillDepth3rdCategory.id})}"
												th:text="'&nbsp;&nbsp;&nbsp;&nbsp' + ${chillDepth3rdCategory.name}"></a>
											<div th:if="${chillDepth3rdCategory.subCategories} != null"
												th:each="chillDepth4thCategory : ${chillDepth3rdCategory.subCategories}">
												<a class="dropdown-item" th:href="@{/categories/{id}/products(id=${chillDepth4thCategory.id})}"
													th:text="'&nbsp;&nbsp;&nbsp;&nbsp' + ${chillDepth4thCategory.name}"></a>
												<div th:if="${chillDepth4thCategory.subCategories} != null"
													th:each="chillDepth5thCategory : ${chillDepth4thCategory.subCategories}">
													<a class="dropdown-item" th:href="@{/categories/{id}/products(id=${chillDepth5thCategory.id})}"
														th:text="'&nbsp;&nbsp;&nbsp;&nbsp' + ${chillDepth5thCategory.name}"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="about.html" 
					th:style="'width:' + ${w} + 'px; border-right: solid 0.5px; border-color: lightgray;'">About</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="blog.html" 
					th:style="'width:' + ${w} + 'px; border-right: solid 0.5px; border-color: lightgray;'">Blog</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="contact.html" 
					th:style="'width:' + ${w} + 'px;'">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- //bottom nav -->
</div>
<!-- //header container -->
<!-- //header -->