<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Register Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{/assets/web/images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/webfonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/webfonts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/css/util.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/web/css/main.css}">

<link th:href="@{/assets/web/css/fontawesome-all.min.css}"
	rel="stylesheet">
<!--===============================================================================================-->
</head>
<div layout:fragment="body" style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form th:action="registerProcess" method="post"
					th:object="${user}" class="login100-form validate-form">

					<span class="login100-form-title p-b-45"> Register </span>

					<div th:if="${error!=null}" th:utext="${error}"
						class="alert alert-danger"></div>

					<div class="wrap-input100 validate-input"
						data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" th:field="*{name}" type="text" name="name"
							required="true"> <span class="focus-input100"></span> <span
							class="label-input100">Name</span>
					</div>

					<div>
						<span class="errors-notification"
							th:if="${#fields.hasErrors('email')}">Email invalidate</span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" th:field="*{email}" type="text"
							name="email" required="true"> <span
							class="focus-input100"></span> <span class="label-input100">Email</span>
					</div>

					
					<div>
						<span class="errors-notification"
							th:if="${#fields.hasErrors('password')}"
							>Password length is least 5 characters</span>
					</div>
					
					<div class="wrap-input100 validate-input"
						data-validate="Password is required">
						<input class="input100" type="password" th:field="*{password}"
							name="password" required="true"> <span
							class="focus-input100"></span> <span class="label-input100">Password</span>
					</div>

					<div>
						<span class="errors-notification"
							th:if="${#fields.hasErrors('confirmPassword')}"
							>Confirm Password is Incorect</span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Password is required">
						<input class="input100" type="password"
							th:field="*{confirmPassword}" name="confirmPassword"
							required="true"> <span class="focus-input100"></span> <span
							class="label-input100">Confirm Password</span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">Register</button>
					</div>
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Do you have an account? <a th:href="@{/login}" class="ml-2">Sign
								In</a>
						</div>
					</div>
				</form>

				<div class="login100-more"
					th:style="'background:url('+@{/assets/web/images/bg01.jpg}+')'">
					<h1>
						<a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"></i>Home</a>
					</h1>
				</div>
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/assets/web/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/daterangepicker/moment.min.js}"></script>
	<script
		th:src="@{/assets/web/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/web/js/main.js}"></script>

</div>
</html>